#container
{
	width:1024px;
}

#myCanvas
{
	border:5px dotted black;
	float:left;
}

#gameStatus
{
	display:table-cell;
	vertical-align:middle;
	padding-left:20px;
	text-align:left;
	font-size:25px;
	font-family:Arial;
	height:400px;
	width:274px;
}

.buttons
{
	background-color:white;
	border:2px solid black;
	width:170px;
	height:40px;
	font-size:25px;
	font-family:Arial;
	
}

#playerScore
{
	border:0px; 
	font-size:25px;
	font-family:Arial;
	width:200px;
	background-color:white;
}

#playerName
{
	border:2px solid black;
	font-size:25px;
	font-family:Arial;
	width:200px;
}

#userInfo
{
	clear:both;
	font-size:25px;
	font-family:Arial;
	width:750px;
	border:5px dotted black;
	
}

