#contenthost {
    height: 100%;
    width: 100%;
}

.win-navigation-backbutton {
    margin-left: 37px;
    margin-top: 57px;
    position: absolute;
    z-index: 1;
}

.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr 1024px 1fr;
    -ms-grid-rows: 1fr 120px 600px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
    }

        .fragment header[role=banner] .titlearea {
        }

            .fragment header[role=banner] .titlearea .pagetitle {
            }

    .fragment section[role=main] {
        -ms-grid-column: 2;
        -ms-grid-row: 3;
        -ms-grid-columns: 1fr 750px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: 100%;
        width: 100%;
    }

        .fragment section[role=main] #container {
            -ms-grid-column: 2;
        }

.warning {
    color: red;
}